#walrus-showing {
/*  display: none;
  height: 50px;
  */
}

img {
  width: 100%;
  height: auto;
  
}


.clickable:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.dark {
  background-color: black;
  color: white;

}

.light {
  background-color: white;
  color:black;

}


